* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    border-radius: 8px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    margin-top: 20px;
    color: #333;
    font-size: 46px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #353434;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;

}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #B22222;
    color: white;
    padding: 10px 22px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #8a2121;
}

.result {
    font-size: 18px;
    color: #727272;
    margin-top: 10px;
}

.result-box {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    padding: 10px;
    width: 200px;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#bmi-result {
    font-size: 2em;
    font-weight: bold;
    color: #3d3d3d;
}

.large-text {
    font-size: 20px;
}

.text {
    font-size: 20px;
}
